.page {
    padding: 45px 0 60px;
    background-color: #000;
    min-width: 320px;
    max-width: 1280px;
    margin: auto;
}

@media screen and (max-width: 950px) {
    .page {
        padding: 28px 0px 36px;
    }
}