.popup__save {
    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    display: inline;
    width: 100%;
    height: 50px;
    border: none;
    transition: opacity 0.5s linear;
    padding: 0;
}

.popup__save:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    .popup__save {
        font-size: 14px;
        line-height: 17px;
        height: 46px;
    }
}