.profile__add-button {
    background-image: url(../../../images/Add_ButtonBigPlus.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    min-width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #000;
    padding: 0;
    margin-left: auto;
    transition: opacity 0.5s linear;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .profile__add-button {
        background-image: url(../../../images/Add_ButtonPlus.svg);
        width: 100%;
        min-width: 282px;
        margin: 33px 0 36px;
    }
}