.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    width: 100%;
    max-width: 880px;
    min-width: 282px;
    margin: auto;
}

@media screen and (max-width: 620px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 425px) {
    .elements {
        grid-template-columns: 1fr;
    }
}