.popup-photo__close {
    width: 40px;
    height: 40px;
    background: url(../../../images/Button_close_form_Big.svg);
    background-position: center;
    position: absolute;
    border: none;
    top: -40px;
    right: -40px;
    padding: 0;
    transition: opacity 0.5s linear;
}

.popup-photo__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    .popup-photo__close {
        background-size: 40px 40px;
        width: 26px;
        height: 26px;
        right: 5px;
        top: -47px;
    }
}