.element__like {
    background-image: url(../../../images/head_disabled.svg);
    min-width: 22px;
    height: 19px;
    align-self: center;
    background-size: cover;
    transition: opacity 0.5s linear;
    border: none;
    background-color: #fff;
    padding: 0;
    text-align: center;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}